[submodule "External/ParseKit"]
	path = External/ParseKit
	url = https://github.com/scrivel/parsekit
[submodule "External/Fragaria"]
	path = External/Fragaria
	url = https://github.com/scrivel/Fragaria
[submodule "External/KXEventEmitter"]
	path = External/KXEventEmitter
	url = https://github.com/keroxp/KXEventEmitter
