[submodule "External/xcconfigs"]
	path = External/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs
[submodule "External/ParseKit"]
	path = External/ParseKit
	url = https://github.com/scrivel/parsekit
[submodule "External/AVHexColor"]
	path = External/AVHexColor
	url = https://github.com/anjerodesu/AVHexColor
